<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <div>
          <div class = "text">
            <%= comment.user.name %>
          </div>
          <%= comment.content %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
