<h1 class ="post_page_title">ユーザーをフォローする</h1>

<div class ="container follow-page">

    <% @users.each do |user| %>
      <%= user.name %>
      <%= user.email %>
      <%= render 'follow_form', user: user %>
    <% end %>

</div>
