body {
  background-color: #fafafa;
}

/*footer*/
.footer-menu {
  max-width: 950px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer ul {
  padding-left: 0px;
}

footer li {
  display: inline-block;
  list-style: none;
  float: left;
  margin-right: 15px;
  margin-bottom: 7px;
}

footer a {
  color: #003569;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

footer .copyright {
  color: #999;
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
  margin-left: 30px;
  display: inline-block;
}

@media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
  footer .footer-menu {
    width: 350px;
    margin: 0 auto;
  }

  footer .copyright {
    color: red;
  }
}

@media (min-width: @screen-md-min) {

}

/*footer*/
