
// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*投稿一覧画面*/
.user-name-link {
  color: black;
  margin-left: 10px;
}

.user-name-link:hover {
  color: black;
}

.post-index-top-space {
  margin-top: 120px;
}

.article {
  height: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.article-header {
  height: 60px;
}

.article-header-contetns {
  padding: 15px;
}

.article-image img {
    width: 100%;
}

.detail {
  color: black;
  letter-spacing: -0.6em ;
  float: right;
  margin: 10px 20px 0px 0px ;
}

.favorite-heart {
  max-width: 50px;
  height: auto;
}

.like-count {
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 5px;
}

.text {
  display: inline;
  font-weight: bold;
}

.article-content-second {
  margin-bottom: 5px;
}

.content-user-name {
  margin-left: 15px;
}

.comments_area ul {
  padding-left: 15px;
}

.comments-btn {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    background-color: darkgray;
}

/* ============以下、新規投稿============ */

.post_page_title {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.post-wrapper {
  width: 350px;
  height: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  margin-bottom: 10px;
}

.post-container {
  text-align: center;
  padding: 0px 40px;
}

.post-wrapper form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: #3897f0;
}

.btn:hover {
  color: white;
}

.post-container .submit-btn {
  margin-top: 15px;
  margin-bottom: 10px;
}

.error_explanation {
  margin: 10px 0px;
  color: red;
}

.back-to-index {
  margin-top: 10px;
}

.detail-text {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
}

.detail-content {
  margin-top: 10px;
}

.detail-menu {
  margin-left: 15px;
}

.back-link {
  margin:10px 0px;
}

.confirm-wrapper {
  width: 350px;
  height: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  margin-bottom: 10px;
}

.confirm-container {
  text-align: center;
  padding: 0px 40px;
}

.confirm-wrapper form {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* =======ページネーション=========*/
.posts .pagenate-wrapper {
  text-align: center;
}
