// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new.html.erb
.form-wrapper {
  width: 350px;
  height: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom: 10px;
}

.form-container {
  text-align: center;
  padding: 0px 40px;
}
.logo {
  font-family: "Brush Script MT";
  font-size: 50px;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #999;
}

.mini-text {
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #999;
  line-height: 30px;
  margin-bottom: 10px;
}

.line {
  position:relative;
  top: 13px;
  height: 3px;
  width: 95px;
  border: 1px solid #ffffff;
  background-color: #e6e6e6;
  line-height: 60px;
}

.line-left {
  float: left;
}

.line-right {
  float: right;
}

.form-control {
  width: 100%;
  background: #fafafa;
  margin-bottom: 5px;
  border: 1px solid #e6e6e6
}

.btn {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: #3897f0;
}

.btn:hover {
  color: white;
}

.facebook {
  margin-bottom: 10px;
}

.facebook-login {
  display: block;
  height: 20px;
  margin-bottom:20px;
}

.for_forget_password {
  font-size: 12px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 15px;
}

.login-btn {
  margin: 10px 0px;

}

.error_explanation {
  margin: 10px 0px;
  color: red;
}

.rule_text {
  font-size: 14px;
  color: #999;
  margin: 10px 30px 30px 30px;
}

.login_link {
  width: 350px;
  height: 70px;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
}

.login {
  text-align: center;
  line-height: 70px;
}

.login a {
  margin-left: 5px;
}

.password_field {
  margin-top: 10px;
}


/*------お気入り一覧-------*/


.favorites-index-wrapper {
  height: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.favorites-header {
  height: 60px;
}

.favorite-image {
  width: 100%;
}

.favorites-header-contetns {
  padding: 15px;
}

.favorites-content {
  margin: 15px 0px;
}

.content-user-name {
  margin-left: 15px;
}



/*----------ユーザー詳細---------- */
.container .profile {
  height: 150px;
  margin: 30px 0px;
  line-height: 40px;
}

.user-image {
  text-align: center;
}

.account-image {
  border-radius: 100px;
}

@media screen and (min-width : 0px) and ( max-width:768px) {
  .account-image {
    border-radius: 150px;
  }
}

.name-and-link {
  margin-bottom: 20px;
}

.user-name {
  font-size: 32px;
}

.info {
  font-size: 16px;
  display:inline;
  margin-right: 15px;
}

.edit-btn {
  padding: 6px;
  background-color: #3897f0;
  border-radius: 5px;
  margin-right: 10px;
}

.edit-btn:hover {
  background-color: #3897f0;
  color: white;
}

/*---フォローページ---*/

.follow-page {
  height: 100%;
  padding: 30px 0px;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  line-height: 40px;
}

.follow-page .user-name-link {
  margin-left: 0;
}

.follow-page .edit-btn {
  line-height: 20px;
}
